/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    src: url("PressStart2P-Regular.woff") format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Inter';
    src:
        local("Inter"),
        url('Inter-Variable.woff2') format('woff2 supports variations'),
        url('Inter-Variable.woff2') format('woff2-variations');

    font-weight: 410 715;
}