/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--card-text-font-weight);
  background-image: var(--background-static);
  background-size: cover;
  background-attachment: fixed;
}


/*Доработайте шапку.
Блок резиновый. Используйте clamp для расчёта ширины блока. Ширину блока можно будет переиспользовать для остальных блоков проекта, 
поэтому лучше использовать отдельный класс и вынести расчёт в css-переменную.
Другие резиновые элементы — логотип, заголовок, отступы в шапке. Используйте clamp.
Чтобы браузер не воспринимал как теги символы < и >, используйте HTML-мнемоники &lt; и &gt;*/

.page_block {
  display: flex;
  inline-size: clamp(371px, 50vw, 700px);
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 2px solid #000000;
}

.header {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
  text-transform: uppercase;

  margin-top: 100px;
  padding-top: 130px;
  padding-bottom: 130px;
  margin-bottom: 98px;
  gap: 20px;
}

.header h1 {
  display: flex;
  font-size: 65px;
  margin-left: auto;
  margin-right: auto;
}

.header label {
  display: flex;
  font-size: 23px;
  margin-left: auto;
  margin-right: auto;
}



/*Рекомендуем сначала создать одну карточку:
По ширине карточки тоже резиновые. Переиспользуйте подход с шириной блока из шапки проекта.
Иконку с сердцем поместите внутрь тега <button>. Обратите внимание на комментарии в прекоде, 
там описано, какие классы задать иконке. Если класс будет не тот, то потом лайкнуть иконку не получится.

Содержимое кнопок Like, «Сохранить на память» и «ОК» оберните в <span> с отдельным классом button__text — позже это поможет вам сделать анимации. 
Класс button__text также используется для работы скрипта, который при клике или выборе иконки лайка на кнопке Like меняет текст с Like на Unlike.
Для иконки внутри кнопки «Сохранить на память» используйте тег use и опишите в SVG-файле symbol, 
а вот иконку сердца придётся вставить в код инлайново. Подробнее об этом в шаге с анимациями. 
На стадии вёрстки лейаута просто вставьте туда нужную SVG-иконку, чтобы прийти к неанимированному, 
похожему на макет результату. В Figma эта иконка лежит отдельно от остальных, используйте её на этапе построения лейаута.*/

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card h2 {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--card-title-font-weight);
  font-style: Black;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* Блок  c изображением*/
.image_container {
  position: relative;
}

.card .image_container .image_label {
  position: absolute;
  top: 25px;
  right: 25px;

  font-family: var(--accent-font);
  font-weight: 400px;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  mix-blend-mode: hard-light;

  opacity: 0.5;
}


@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card .image_container .image_label {
    -webkit-text-stroke: 1px var(--card-image-text-stroke-color);
    text-stroke: 1px var(--card-image-text-stroke-color);
    text-shadow: none;
  }
}

.card .image_container .cropped-image {
  width: var(--card-image-width);
  /* Ширина области отображения */
  height: var(--card-image-height);
  /* Высота области отображения */
  object-fit: cover;
  /* Кадрирует изображение, заполняя область */
  object-position: center right;
  /* Центрирует область кадрирования */
}

/*область фильров*/
.card:nth-child(1) .image_container .cropped-image {
  filter: sepia(1) contrast(2) brightness(200%);
}


/* Основное содержание*/
.card .card__body {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.card .card__body article {
  display: flex;
  flex-direction: column;

  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--card-text-font-weight) sz;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;

  gap: 25px;
}

/* Блок кнопок */
.card .card__body .button_layer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 5px
}

.card .card__body .button_layer .card__icon-button {
  border: none;
  background-color: transparent;
}

.card .card__body .button_layer .card__like-button {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
  border: 2px solid var(--Themes-mainColor, #000000);
  padding: 13px 37px 13px 34px;
  background-color: transparent;
  transition: box-shadow 0.3s ease-in-out ;
}

/*footer*/

.footer {
  display: flex;
}

.footer .save_button {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 100px;

  padding: 15px 20px 15px 20px;

  border: 2px solid black;

  background-color: white;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
  vertical-align: middle;


  gap: 8px;

  align-items: center;

  transition: box-shadow 0.3s ease-in-out ;
}

.footer .save_button svg {
  margin-bottom: 5px;
}


/*Стили диалогового окна*/
.save_dialog {
  width: var(--dialog-window-width);
  border: 2px solid black;
  font-family: var(--accent-font);
  font-weight: 100px !important;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 20%;
  color: black;

  text-transform: uppercase;
  padding: 30px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0px;
}

.save_dialog .save_dialog__content {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 20px;
}

.save_dialog .save_dialog__ok_button {
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: box-shadow 0.3s ease-in-out ;
}

.save_dialog .save_dialog__content svg {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.save_dialog::backdrop{
  background-color: black;
  opacity: 0.75;
}

/*Шаг 7. Эффекты кнопок. Эффекты на кнопках при фокусе и наведении& имеют разную плавность. 
Кроме того, эффекты кнопок Like, «Сохранить на память» и «ОК» отличаются от эффекта кнопки, оборачивающей сердечко.*/

.footer .save_button:focus,
.card .card__body .button_layer .card__like-button:focus,
.save_dialog .save_dialog__ok_button:focus{
  border: none;
  outline: none;
  box-shadow: 2px 2px 0px 0px black;
}