/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--card-text-font-weight);
  background-image: var(--background-static);
  background-size: cover;
  background-attachment: fixed;
}


/*Доработайте шапку.
Блок резиновый. Используйте clamp для расчёта ширины блока. Ширину блока можно будет переиспользовать для остальных блоков проекта, 
поэтому лучше использовать отдельный класс и вынести расчёт в css-переменную.
Другие резиновые элементы — логотип, заголовок, отступы в шапке. Используйте clamp.
Чтобы браузер не воспринимал как теги символы < и >, используйте HTML-мнемоники &lt; и &gt;*/

.page_block {
  display: flex;
  inline-size: clamp(371px, 50vw, 700px);
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 2px solid #000000;
}

.header {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
  text-transform: uppercase;

  margin-top: 100px;
  padding-top: 130px;
  padding-bottom: 130px;
  margin-bottom: 98px;
  gap: 20px;
}

.header h1 {
  display: flex;
  font-size: 65px;
  margin-left: auto;
  margin-right: auto;
}

.header label {
  display: flex;
  font-size: 23px;
  margin-left: auto;
  margin-right: auto;
}



/*Рекомендуем сначала создать одну карточку:
По ширине карточки тоже резиновые. Переиспользуйте подход с шириной блока из шапки проекта.
Иконку с сердцем поместите внутрь тега <button>. Обратите внимание на комментарии в прекоде, 
там описано, какие классы задать иконке. Если класс будет не тот, то потом лайкнуть иконку не получится.

Содержимое кнопок Like, «Сохранить на память» и «ОК» оберните в <span> с отдельным классом button__text — позже это поможет вам сделать анимации. 
Класс button__text также используется для работы скрипта, который при клике или выборе иконки лайка на кнопке Like меняет текст с Like на Unlike.
Для иконки внутри кнопки «Сохранить на память» используйте тег use и опишите в SVG-файле symbol, 
а вот иконку сердца придётся вставить в код инлайново. Подробнее об этом в шаге с анимациями. 
На стадии вёрстки лейаута просто вставьте туда нужную SVG-иконку, чтобы прийти к неанимированному, 
похожему на макет результату. В Figma эта иконка лежит отдельно от остальных, используйте её на этапе построения лейаута.*/

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card h2 {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--card-title-font-weight);
  font-style: Black;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* Блок  c изображением*/
.image_container {
  position: relative;
}

.card .image_container .image_label {
  position: absolute;
  top: 25px;
  right: 25px;

  font-family: var(--accent-font);
  font-weight: 400px;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  mix-blend-mode: hard-light;

  opacity: 0.5;
}


@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card .image_container .image_label {
    -webkit-text-stroke: 1px var(--card-image-text-stroke-color);
    text-stroke: 1px var(--card-image-text-stroke-color);
    text-shadow: none;
  }
}

.card .image_container .cropped-image {
  width: var(--card-image-width);
  /* Ширина области отображения */
  height: var(--card-image-height);
  /* Высота области отображения */
  object-fit: cover;
  /* Кадрирует изображение, заполняя область */
  object-position: center right;
  /* Центрирует область кадрирования */
}

/* Основное содержание*/
.card .card__body {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.card .card__body article {
  display: flex;
  flex-direction: column;

  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--card-text-font-weight) sz;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;

  gap: 25px;
}

/* Блок кнопок */
.card .card__body .button_layer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.card .card__body .button_layer .card__icon-button {
  display: flex;
  border: 2px solid transparent;
  background-color: transparent;
  height: 100%;
  overflow: visible;
  padding-left: 0px;
  padding-right: 0px;
}


.card .card__body .button_layer .card__like-button {
  font-family: var(--accent-font);
  inline-size: 130px;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
  border: 2px solid #000000;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
}

/*Шаг 6. Фильтры*/
.card_freetrack .image_container .cropped-image {
  filter: sepia(1);
}


/*footer*/

.footer {
  display: flex;
}

.footer .save_button {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 100px;

  padding: 15px 20px 15px 20px;

  border: 2px solid black;

  background-color: white;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
  vertical-align: middle;


  gap: 8px;

  align-items: center;

  transition: box-shadow 0.3s ease;
}

.footer .save_button svg {
  margin-bottom: 5px;
}


/*Стили диалогового окна*/
.save_dialog {
  width: var(--dialog-window-width);
  border: 2px solid black;
  font-family: var(--accent-font);
  font-weight: 100px !important;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 20%;
  color: black;

  text-transform: uppercase;
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0px;
}

.save_dialog .save_dialog__content {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 20px;
}

.save_dialog .save_dialog__ok_button {
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: box-shadow 0.3s ease;
}

.save_dialog .save_dialog__content svg {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.save_dialog::backdrop {
  background-color: black;
  opacity: 0.75;
}

/*Шаг 7. Эффекты кнопок. Эффекты на кнопках при фокусе и наведении& имеют разную плавность. 
Кроме того, эффекты кнопок Like, «Сохранить на память» и «ОК» отличаются от эффекта кнопки, оборачивающей сердечко.*/

.footer .save_button:focus,
.card .card__body .button_layer .card__like-button:focus,
.save_dialog .save_dialog__ok_button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px black;
  transition: box-shadow 0.3s ease;
}


/*По наведению на кнопку должен плавно слева направо появляться псевдоэлемент. Добиться этого можно двумя путями:
через scale от 0 до 1;
через translate от -100% по оси X до 0. В этом случае кнопке придётся задать overflow.

Параметры перехода transition здесь — 0.5s ease-in-out. 
Переход должен срабатывать при событии наведения и при его снятии. 
Настройки описывайте в основном селекторе псевдоэлемента.*/

.footer .save_button,
.card .card__body .button_layer .card__like-button,
.save_dialog .save_dialog__ok_button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease-in-out;
}


.footer .save_button::before,
.card .card__body .button_layer .card__like-button::before,
.save_dialog .save_dialog__ok_button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(-100%);
  /* Начинаем слева за пределами кнопки */
  transition: transform 0.5s ease-in-out;
  /* Плавный переход */
  z-index: -1;
  /* Отправляем под текст */
}

.footer .save_button:hover::before,
.card .card__body .button_layer .card__like-button:hover::before,
.save_dialog .save_dialog__ok_button:hover::before {
  transform: translateX(0);
}

/* Меняем цвет текста при наведении */
.footer .save_button:hover,
.card .card__body .button_layer .card__like-button:hover,
.save_dialog .save_dialog__ok_button:hover {
  color: white;
  /* Белый текст для контраста с черным фоном */
}

/* Для иконки в кнопке сохранить */
.footer .save_button:hover svg {
  fill: white;
  /* Меняем цвет иконки на белый */
}


/*Фокус на кнопке с сердцем
Для оборачивающей сердце кнопки описан только фокус. Все остальные состояния будут производиться внутри самой иконки.
В состоянии focus-visible у кнопки появляется рамка — сплошная линия акцентного цвета шириной два пикселя. 
Не забудьте убрать обводку у состояния focus. 
Граница должна появляться плавно: 0.3s ease. Переход должен срабатывать при событии фокуса и при его снятии, 
описывайте настройки в основном селекторе. 
Проконтролируйте размеры, при фокусе высота сходится с кнопкой справа.*/

.card .card__body .button_layer .card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--heart-border-color);
  transition: border-color 0.3s ease;
}

/*Шаг 9. Анимация сердца*/

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon .sparks {
  opacity: 0;
}

/*Сердцевина заполняется первой, исчезает с задержкой.
В демке анимации  в фигме переход резкий, из текста задания
следует плавность из-за ненулевого времени перехода. */
.like-icon:hover .core {
  fill: black;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: black;
  transition: fill 0.3s 0.05s linear;
}

/*Состояние нажатия кнопки*/
.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

/*Клик по иконке*/
.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

/*запуск анимации пульса и вспышек*/
.like-icon.is-liked g{
  transform-origin: center;
  animation: heart_pulse 1s;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks{
  animation: sparks_animation 1s;
}