/*более оптимальная точка перехода для шрифта в заголовке*/
@media (width <=900px) {
  .header .title {
    font-size: 49px;
  }

  .header label {

    font-size: 14px;
  }
}


@media (max-width: 720px) {
  .footer .save_button {
    flex-direction: column;
  }

  .header {
    margin-top: 100px;
    padding-top: 122px;
    padding-bottom: 122px;
    margin-bottom: 98px;
    gap: 20px;
  }

}