/*более оптимальная точка перехода для шрифта в заголовке*/
@media (width <=900px) {
  .header .title {
    font-size: 49px;
  }

  .header label {

    font-size: 14px;
  }
}


@media (max-width: 720px) {
  .footer .save_button {
    flex-direction: column;
  }

  .header {
    margin-top: 100px;
    padding-top: 122px;
    padding-bottom: 95px;
    margin-bottom: 98px;
    gap: 20px;
  }

  .subtitle {
    font-size: 14px;
  }

  main .save_button{
    display: flex;
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
  }

  .card h2{
    line-height: 108%;
  }
}