/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter", san-serif;
    --accent-font: "Press Start 2P", fantasy;

    /*Задайте две переменные с именами этих шрифтов в файле styles/variables.css. Одну — для основного шрифта Inter, а другую — для акцентного PressStart2P.*/
    --card-text-font-weight: 410;
    --card-title-font-weight: 715;

    /*Создайте переменную для градиента и используйте её как значение свойства background-image для страницы. Фон должен оставаться фиксированным при прокрутке страницы.*/
    /*Первый градиент должен создавать повторяющиеся полоски слева направо шириной в 2px: одна полоска цветом #d3d3d3; другая — прозрачная, такого же размера.*/
    --background-static: repeating-linear-gradient(90deg, #d3d3d3 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
        repeating-linear-gradient(#d3d3d3 0px 2px, rgba(0, 0, 0, 0) 2px 4px),

        /*В третьем градиенте цвет должен равномерно меняться сверху вниз — от  #e7e7e7 к #1a1a1a.
                    Именно этот последний градиент создаст эффект изменения насыщенности цвета. 
                    Мы немного продлили воздействие самого светлого оттенка и начали менять цвет 
                    от 0.01% всей высоты градиента, чтобы усилить эффект.*/
        linear-gradient(#e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%);


    /*Область для картинки на карточке*/
    --card-image-width: clamp(371px, 50vw, 696px);
    --card-image-height: clamp(371px, 50vw, 696px);

    /*Цвет обводки лейбла*/
    --card-image-text-stroke-color: #FFFFFF;

    /*Ширина диалогового окна*/
    --dialog-window-width: 353px;

    /*Цвет границы кнопки с сердцем*/
    --heart-border-color: rgb(0, 0, 0);

    /*Цвета для анимации кнопок*/
    --contour-color: rgb(0,0,0);
    --heart-body-color: transparent;
    --heart-core-color: transparent;
    --animation-fill-color: red;
    --sparkles_opacity: 0;

}

@media (width <=375px) {
    :root {
        --dialog-window-width: 341px;
       
    }
}